body {
}
.section1 {
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 7%;
}
.div1 {
  width: 40%;
  margin: 40px;
  float: left;
}
.div1 img {
  width: 90%;
  float: right;
}
.orange {
  color: orangered;
}
h1 {
  font-size: 50px;
}
.box {
  text-decoration: none;
  border-radius: 6%;
  padding: 10px 15px;
  color: white;
  background-image: linear-gradient(45deg, lightSalmon, tomato);
  padding: 10px 15px;
  font-weight: 600px;
}
#id2 {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experiences{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}
.div2 {
  box-shadow: 10px 10px 20px gray;
  padding: 10px;
  height: 300px;
}
#full {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightSalmon, tomato);
  border-image-slice: 1;
}
#baby {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, rgb(16, 80, 16), rgb(178, 216, 39));
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
.div3{
    display: flex;
    width: 100%;

}